/* First CSS! Ignore Lines 3-50*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

*/ html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} */

/* First CSS! Ignore Lines 3-50*/

/* Posssible color scheme
#E9DCCD Cream
#E3BAB3 Petal
#613A43 Burgundy
#849974 Fresh (Green)
#36384C
#eee5fb Lilac
*/

.topnav {
	text-align: center;
	color: black;
	padding: 14x 16px;
	font-size: 25px;
	width: 0 auto;
	margin: 0 auto;
	
}

body {
	color: #E9DCCD; /*Cream*/
	background-color: #36384C; /*Charcoal*/
	margin: 2em;
	padding: 1em;
	font-size: 25px;
	border: 1em; color: #E3BAB3 /*Petal*/
  	font-family: Bookman Old Style, serif;
}
 
a:link {
  color: #E9DCCD; /* Cream; unvisited link */
}

a:visited {
  color: #849974; /* Green; visited link */
}

a:active {
  color: #E3BAB3; /* Petal; selected link */
} 

h1, h2, h3, h4, h5, h6 {
font-family: Calibri, sans-serif;
color: #849974 /*Fresh = Green*/;
}

h1 {font-size: 50px}

h2 {font-size: 45px}

h3 {font-size: 40px}

h4 {font-size: 35px}

h5 {font-size: 30px}

h6 {font-size: 25px}

p {
	margin-bottom: 0.5px;
	margin-left: 1px;
}
p.dotted {border-style: dotted;}
p.dashed {border-style: dashed;}
p.solid {border-style: solid;}
p.double {border-style: double;}
p.groove {border-style: groove;}
p.ridge {border-style: ridge;}
p.inset {border-style: inset;}
p.outset {border-style: outset;}
p.none {border-style: none;}
p.hidden {border-style: hidden;}
p.mix {border-style: dotted dashed solid double;}

ul {
	margin: 1px;
	margin-left: 50px;
	margin-right: 50px;
	list-style: disc;
	text-align: center;
}

ol {
	margin: 1em;
	margin-left: 2em;
	list-style: square;
}

li {
	position: sticky;
	display: inline-block;
	color: #849974 /*Green*/;
	padding: auto;
	margin: 1em auto;
	align: center;
}

header {
	margin: auto;
	padding: auto;
}

.footer,.push {
  height: 50px;
}

.navigation-box {
  width: 100%;
  height: 100%;
  margin: auto;
  padding: auto;
  border: 5px solid #849974 /*Fresh = Green*/;
}

.content-box {overflow: auto;
  border: 5px solid #849974 /*Fresh = Green*/;
}

 .content-box img {padding: 0 20px 20px 20px;}

.left-content-box {
  body {text-align:left};
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  border: 5px solid #849974 /*Fresh = Green*/;	
}

.right-content-box {
  body {text-align:right};
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  border: 5px solid #849974 /*Fresh = Green*/;	
}
